/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');



body {
    margin: 0;
}

/* NAV BAR */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    background-color: #F2F2F2;
    background-size: cover;
    padding: 0 0 0 20px;
    border: 0px;
    letter-spacing: 5px;
}

.nav button {
    justify-content: flex-end;
    background-color: black;
    color: white;
    border-style: none;
    margin: 0 20px 0 0;
    padding: 8px 28px 8px 28px;
    border-radius: 3px;
    font-size: .75rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1px;
}

.nav button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.nav button:active {
    background-color: gray;
}


/* GAME INFO BAR */
#game-info {
    border-style: solid;
    border-width: 1.2px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: .7rem;
    text-align: center;
}

#words-left {
    font-size: 1.1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}
#room-code {
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}
#team-color {
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}


/* WORD GRID */
#word-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    margin: 20px;
}

.word-element {
    background-color: #F2F2F2;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

.word-element:hover {
    background-color: lightgray;
}

.orange {
    background-color: #FF9E58;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

.purple {
    background-color: #A270F4;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

.neutral {
    background-color: #AEAEAE;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

.bomb {
    background-color: #DD3333;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}


/* BOTTOM BUTTONS */
#bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#spymaster-view-button {
    background: none;
    border-style: none;
    margin: 0 0 0 20px;
    font-size: .75rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: .5px;
}

#spymaster-view-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#spymaster-view-button:active {
    /* outline: 0; */
}

#end-turn-button {
    justify-content: flex-end;
    background-color: gray;
    color: white;
    border-style: none;
    margin: 0 20px 0 0;
    padding: 8px 28px 8px 28px;
    border-radius: 3px;
    font-size: .75rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1px;
}

#end-turn-button:hover {
    background-color: #AEAEAE;
    cursor: pointer;
}


#end-turn-button.spymaster-on {
    justify-content: flex-end;
    background-color: gray;
    color: white;
    border-style: none;
    margin: 0 20px 0 0;
    padding: 8px 28px 8px 28px;
    border-radius: 3px;
    font-size: .7rem;
    cursor: not-allowed!important;
}


/* MODAL */
#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: black;
    line-height: 30px;
    padding: 200px;
  }

#new-game-button {
background-color: black;
color: white;
border-style: none;
/* margin: 0 20px 0 0; */
padding: 8px 28px 8px 28px;
border-radius: 3px;
font-size: 1rem;
}

#new-game-button:hover {
    background-color: gray;
    cursor: pointer;
}

#new-game-button:active {
    background-color: darkgray;
    /* outline: 0; */
}


/* SPYMASTER VIEW */

[data-category="orange"].spymaster-on {
    color: orange;
    background-color: #F2F2F2;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

[data-category="purple"].spymaster-on {
    color: #A270F4;
    background-color: #F2F2F2;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

[data-category="neutral"].spymaster-on {
    color: #A6A6A6;
    background-color: #F2F2F2;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

[data-category="bomb"].spymaster-on {
    color: red;
    background-color: #F2F2F2;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
}

.disabled {
    cursor: not-allowed!important;
}


/* FOOTER */
footer {
    width: 100%;
    height: 20px;
    padding-bottom: 5px;
    font-size: .8rem;
    background-color: #F2F2F2;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: 'Heebo', sans-serif;
}

footer a {
    color: #A270F4;
    font-family: 'Heebo', sans-serif;
}

footer a:hover {
    color: #7A2CF9;
    cursor: pointer;
}

footer a:active {
    color: gray;
    cursor: pointer;
}


/* JOIN GAME FORM */

#join-game-form {
    padding: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: .5px;
}

#room-code-input {
    margin-top: 10px;
    letter-spacing: .5px;

}

#join-game-submit {
    letter-spacing: .5px;
    background-color: gray;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 5px 12px;
    font-size: .7rem;
}

#join-game-submit:hover {
    background-color: #AEAEAE;
    cursor: pointer;
}

#join-error-message {
    padding-left: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .5px;
    background-color: #DD3333;
    color: white;
}